<div class="row">
    <div class="col-lg-3 form-group" *ngFor="let item of productList">
        <div class="card" style="width: 18rem;">
            <img src="{{item.ProductImage}}" class="card-img-top" alt="..." style="max-height: 285px;min-height: 285px;" >
            <div class="card-body">
            <h5 class="card-title">{{item.ProductName}}</h5>
            <p class="card-text">{{item.Description}}</p>
            
            </div>
            <div class="card-footer text-center">
                <span class="float-left" >INR {{item.Price}}</span>
                <button type="button" class="btn btn-primary float-right" (click)="addTocart(item.ProductId)" >Add To Cart</button>
            </div>
        </div>
    </div>
</div>